@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&amp;display=swap");
@font-face {
  font-family: "around-icons";
  src: url("../fonts/around-icons202a.ttf?enmnv5") format("truetype"),
    url("../fonts/around-icons202a.woff?enmnv5") format("woff"),
    url("../fonts/around-icons202a.svg?enmnv5#around-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="ai-"] {
  display: inline-block;
  font-family: "around-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ai-mail:before {
  content: "";
}
.ai-map-pin:before {
  content: "";
}
.ai-maximize-2:before {
  content: "";
}
.ai-phone:before {
  content: "";
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #737491;
  --bs-gray-dark: #4a4b65;
  --bs-primary: #766df4;
  --bs-secondary: #f7f7fc;
  --bs-success: #16c995;
  --bs-info: #6a9bf4;
  --bs-warning: #ffb15c;
  --bs-danger: #f74f78;
  --bs-light: #fff;
  --bs-dark: #37384e;
  --bs-font-sans-serif: "Inter", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    to right,
    #766df4 0%,
    #766df4 30%,
    #6a9bf4 100%
  );
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #737491;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
.h4,
.h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 600;
  line-height: 1.2;
  color: #4a4b65;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.2875rem + 0.45vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.625rem;
  }
}
.h4 {
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .h4 {
    font-size: 1.375rem;
  }
}
.h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
a {
  color: #766df4;
  text-decoration: none;
}
a:hover {
  color: #493ef0;
  text-decoration: underline;
}
img,
svg {
  vertical-align: middle;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
button,
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.9375rem);
  padding-left: var(--bs-gutter-x, 0.9375rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 500px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}
.row {
  --bs-gutter-x: 1.875rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
}
.form-label {
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a4b65;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5625rem 1.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #737491;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfdfeb;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 0 transparent;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #737491;
  background-color: #fff;
  border-color: rgba(118, 109, 244, 0.35);
  outline: 0;
  box-shadow: 0 0 0 0 transparent,
    0 0.375rem 0.625rem -0.3125rem rgba(118, 109, 244, 0.15);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-webkit-input-placeholder {
  color: #9e9fb4;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #9e9fb4;
  opacity: 1;
}
.form-control:disabled {
  background-color: #f3f3f9;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.5625rem 1.125rem;
  margin: -0.5625rem -1.125rem;
  -webkit-margin-end: 1.125rem;
  margin-inline-end: 1.125rem;
  color: #4a4b65;
  background-color: #f7f7fc;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #f7f7fc;
}
.form-control::-webkit-file-upload-button {
  padding: 0.5625rem 1.125rem;
  margin: -0.5625rem -1.125rem;
  -webkit-margin-end: 1.125rem;
  margin-inline-end: 1.125rem;
  color: #4a4b65;
  background-color: #f7f7fc;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #f7f7fc;
}
.form-control-sm::file-selector-button {
  padding: 0.425rem 1rem;
  margin: -0.425rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.form-control-lg::file-selector-button {
  padding: 0.75rem 1.25rem;
  margin: -0.75rem -1.25rem;
  -webkit-margin-end: 1.25rem;
  margin-inline-end: 1.25rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.375rem;
  font-size: 0.75rem;
  color: #f74f78;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #737491;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #737491;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: unset;
}
.btn:active {
  box-shadow: unset;
}
.btn:active:focus {
  box-shadow: unset, unset;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}
.btn-primary {
  color: #000;
  background-color: #766df4;
  border-color: #766df4;
  box-shadow: unset;
}
.btn-primary:hover {
  color: #000;
  background-color: #8b83f6;
  border-color: #847cf5;
}
.btn-primary:focus {
  color: #000;
  background-color: #8b83f6;
  border-color: #847cf5;
  box-shadow: unset, 0 0 0 0 rgba(100, 93, 207, 0.5);
}
.btn-primary:active {
  color: #000;
  background-color: #918af6;
  border-color: #847cf5;
}
.btn-primary:active:focus {
  box-shadow: unset, 0 0 0 0 rgba(100, 93, 207, 0.5);
}
.btn-primary:disabled {
  color: #000;
  background-color: #766df4;
  border-color: #766df4;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.085);
  border-radius: 1rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-flex {
  display: flex !important;
}
.shadow-lg {
  box-shadow: -0.0625rem 0 0.625rem 0 rgba(0, 0, 0, 0.07),
    0.3125rem 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.04) !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.top-0 {
  top: 0 !important;
}
.start-0 {
  left: 0 !important;
}
.border-0 {
  border: 0 !important;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.mt-n1 {
  margin-top: -0.25rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.py-7 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
.pe-1 {
  padding-right: 0.25rem !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
.pb-7 {
  padding-bottom: 6rem !important;
}
.fs-xl {
  font-size: 1.25rem !important;
}
.fs-sm {
  font-size: 0.875rem !important;
}
.text-center {
  text-align: center !important;
}
.text-danger {
  color: #f74f78 !important;
}
.text-light {
  color: #fff !important;
}
.text-muted {
  color: #9e9fb4 !important;
}
.bg-body {
  background-color: #fff !important;
}
.bg-gradient {
  background-image: var(--bs-gradient) !important;
}
.bg-position-center {
  background-position: center !important;
}
.opacity-80 {
  opacity: 0.8 !important;
}
.zindex-5 {
  z-index: 5 !important;
}
@media (min-width: 768px) {
  .py-md-6 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pt-md-7 {
    padding-top: 6rem !important;
  }
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.page-wrapper {
  flex: 1 0 auto;
}
a:focus {
  outline: none;
}
a {
  transition: color 0.2s ease-in-out;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
::-moz-selection {
  background: rgba(118, 109, 244, 0.22);
}
::selection {
  background: rgba(118, 109, 244, 0.22);
}
::-moz-selection {
  background: rgba(118, 109, 244, 0.22);
}
@media (max-width: 767.98px) {
  body {
    padding-top: 0 !important;
  }
}
button:focus {
  outline: none;
}
h1 {
  line-height: 1.2;
}
h2 {
  line-height: 1.25;
}
h3 {
  line-height: 1.3;
}
.h4,
.h4 {
  line-height: 1.35;
}
.h6,
.h6 {
  line-height: 1.4;
}
ul li {
  margin-bottom: 0.3333333333rem;
}
.form-control:disabled {
  cursor: not-allowed;
}
.form-label {
  padding-left: 1.125rem;
}
.was-validated .form-check-input:not(:checked):valid,
.was-validated .form-check-input:not(:checked).is-valid {
  border-color: #dfdfeb !important;
}
.btn-primary {
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #5549f1;
  border-color: #5549f1;
  color: #fff;
}
.btn-primary:disabled {
  color: #fff;
}
@supports (-ms-ime-align: auto) {
}
.fancy-link {
  display: inline-block;
  position: relative;
  color: #766df4;
  font-weight: 500;
  text-decoration: none;
}
.fancy-link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #766df4;
  content: "";
}
.fancy-link:hover {
  color: #766df4;
  text-decoration: none;
}
.fancy-link:hover::after {
  -webkit-animation: linkUnderline 0.6s ease-in-out;
  animation: linkUnderline 0.6s ease-in-out;
}
@-webkit-keyframes linkUnderline {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@keyframes linkUnderline {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
.card-body {
  position: relative;
  z-index: 5;
}
.card * {
  min-height: 0.01px;
}
@supports (-ms-ime-align: auto) {
}
.gallery-item {
  display: block;
  position: relative;
  text-decoration: none !important;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.gallery-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(55, 56, 78, 0.55);
  content: "";
  opacity: 0;
  z-index: 1;
}
.gallery-item::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.875rem;
  height: 2.875rem;
  margin-top: -1.4375rem;
  margin-left: -1.4375rem;
  transform: scale(0.3);
  color: #fff;
  font-family: "around-icons";
  font-size: 2rem;
  text-align: center;
  line-height: 2.875rem;
  content: "";
  z-index: 5;
}
.gallery-item .gallery-caption {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  transform: translateY(0.5rem);
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  z-index: 5;
}
.gallery-item::after,
.gallery-item .gallery-caption {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.gallery-item:hover::before,
.gallery-item:hover::after,
.gallery-item:hover .gallery-caption {
  transform: none;
  opacity: 1;
}
.map-popup::after {
  display: none;
}
.map-popup .gallery-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 500;
}
.map-popup:hover .gallery-caption {
  transform: translateY(-50%);
}
.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center !important;
  background-size: cover !important;
}
.jarallax .jarallax-img {
  margin: 0 !important;
  position: absolute !important;
  transform: none !important;
}
.shape {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
.shape svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}
.shape.bg-body {
  background-color: transparent !important;
}
.shape.bg-body {
  color: #fff !important;
}
.shape-bottom {
  width: 100%;
  left: 0;
}
.shape-bottom {
  bottom: 0;
  margin-bottom: -1px;
}
.shape-slant {
  padding-bottom: 8.7%;
}
