@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,600,700);
:root {
  --blue: #2684ff;
  --indigo: #6e00ff;
  --purple: #510fa8;
  --pink: #f074ad;
  --red: #ff5630;
  --orange: #ffab00;
  --yellow: #ffcc00;
  --green: #36b37e;
  --teal: #00b8d9;
  --cyan: #4bd6e5;
  --white: #fff;
  --gray: #c0ccda;
  --gray-dark: #3c4858;
  --primary: #6e00ff;
  --secondary: #eff2f7;
  --success: #36b37e;
  --info: #00b8d9;
  --warning: #ffab00;
  --danger: #ff5630;
  --light: #eff2f7;
  --dark: #273444;
  --neutral: #fff;
  --white: #fff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(31, 45, 61, 0);
}

section {
  display: block;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #8492a6;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: #6e00ff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #4d00b3;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

h1 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.3;
  color: #3c4858;
}

h1 {
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #36b37e;
}

.was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #ff5630;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 rgba(99, 0, 230, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #5800cc;
  border-color: #5300bf;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(110, 0, 255, 0.35);
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #cdd6e6;
  border-color: #c5cfe2;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(239, 242, 247, 0.35);
}
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #2a8c62;
  border-color: #27825c;
}
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(54, 179, 126, 0.35);
}
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #008da6;
  border-color: #008299;
}
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(0, 184, 217, 0.35);
}
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #cc8900;
  border-color: #bf8000;
}
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 171, 0, 0.35);
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #fc2e00;
  border-color: #ef2c00;
}
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 86, 48, 0.35);
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #cdd6e6;
  border-color: #c5cfe2;
}
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(239, 242, 247, 0.35);
}
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #141b24;
  border-color: #10151b;
}
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(39, 52, 68, 0.35);
}
.btn-neutral:not(:disabled):not(.disabled):active,
.btn-neutral:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}
.btn-neutral:not(:disabled):not(.disabled):active:focus,
.btn-neutral:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 255, 255, 0.35);
}
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}
.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 255, 255, 0.35);
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #6e00ff;
  border-color: #6e00ff;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(110, 0, 255, 0.35);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #eff2f7;
  border-color: #eff2f7;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(239, 242, 247, 0.35);
}
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #36b37e;
  border-color: #36b37e;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(54, 179, 126, 0.35);
}
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #00b8d9;
  border-color: #00b8d9;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(0, 184, 217, 0.35);
}
.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #ffab00;
  border-color: #ffab00;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 171, 0, 0.35);
}
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #ff5630;
  border-color: #ff5630;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 86, 48, 0.35);
}
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #eff2f7;
  border-color: #eff2f7;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(239, 242, 247, 0.35);
}
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #273444;
  border-color: #273444;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(39, 52, 68, 0.35);
}
.btn-outline-neutral:not(:disabled):not(.disabled):active,
.btn-outline-neutral:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-neutral:not(:disabled):not(.disabled):active:focus,
.btn-outline-neutral:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 255, 255, 0.35);
}
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-white:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 255, 255, 0.35);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: rgba(110, 0, 255, 0.5);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #c599ff;
  border-color: #c599ff;
  box-shadow: none;
}
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

.bg-white {
  background-color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

.text-white {
  color: #fff !important;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}

.bg-gradient-primary {
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}

.floating {
  animation: floating 3s ease infinite;
  will-change: transform;
}
.floating:hover {
  animation-play-state: paused;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floating-sm {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btn-neutral:not(:disabled):not(.disabled).active {
  border-color: #6e00ff;
  color: #6e00ff;
  background-color: #fff;
}
.btn-soft-primary:not(:disabled):not(.disabled):active,
.btn-soft-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #6e00ff;
  border-color: #6e00ff;
}
.btn-soft-primary:not(:disabled):not(.disabled):active:focus,
.btn-soft-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(99, 8, 227, 0.5);
}
.btn-soft-secondary:not(:disabled):not(.disabled):active,
.btn-soft-secondary:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #eff2f7;
  border-color: #eff2f7;
}
.btn-soft-secondary:not(:disabled):not(.disabled):active:focus,
.btn-soft-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(209, 214, 220, 0.5);
}
.btn-soft-success:not(:disabled):not(.disabled):active,
.btn-soft-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #36b37e;
  border-color: #36b37e;
}
.btn-soft-success:not(:disabled):not(.disabled):active:focus,
.btn-soft-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(52, 160, 117, 0.5);
}
.btn-soft-info:not(:disabled):not(.disabled):active,
.btn-soft-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #00b8d9;
  border-color: #00b8d9;
}
.btn-soft-info:not(:disabled):not(.disabled):active:focus,
.btn-soft-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(6, 164, 195, 0.5);
}
.btn-soft-warning:not(:disabled):not(.disabled):active,
.btn-soft-warning:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #ffab00;
  border-color: #ffab00;
}
.btn-soft-warning:not(:disabled):not(.disabled):active:focus,
.btn-soft-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(223, 153, 10, 0.5);
}
.btn-soft-danger:not(:disabled):not(.disabled):active,
.btn-soft-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #ff5630;
  border-color: #ff5630;
}
.btn-soft-danger:not(:disabled):not(.disabled):active:focus,
.btn-soft-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(223, 81, 51, 0.5);
}
.btn-soft-light:not(:disabled):not(.disabled):active,
.btn-soft-light:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #eff2f7;
  border-color: #eff2f7;
}
.btn-soft-light:not(:disabled):not(.disabled):active:focus,
.btn-soft-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(209, 214, 220, 0.5);
}
.btn-soft-dark:not(:disabled):not(.disabled):active,
.btn-soft-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #273444;
  border-color: #273444;
}
.btn-soft-dark:not(:disabled):not(.disabled):active:focus,
.btn-soft-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(39, 52, 68, 0.5);
}
.btn-soft-neutral:not(:disabled):not(.disabled):active,
.btn-soft-neutral:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #fff;
  border-color: #fff;
}
.btn-soft-neutral:not(:disabled):not(.disabled):active:focus,
.btn-soft-neutral:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(223, 225, 227, 0.5);
}
.btn-soft-white:not(:disabled):not(.disabled):active,
.btn-soft-white:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #fff;
  border-color: #fff;
}
.btn-soft-white:not(:disabled):not(.disabled):active:focus,
.btn-soft-white:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 0 rgba(223, 225, 227, 0.5);
}
.btn-facebook:not(:disabled):not(.disabled):active,
.btn-facebook:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #2d4474;
  border-color: #293e6b;
}
.btn-facebook:not(:disabled):not(.disabled):active:focus,
.btn-facebook:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(59, 89, 153, 0.35);
}
.btn-twitter:not(:disabled):not(.disabled):active,
.btn-twitter:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0c85d0;
  border-color: #0b7ec4;
}
.btn-twitter:not(:disabled):not(.disabled):active:focus,
.btn-twitter:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(29, 161, 242, 0.35);
}
.btn-google-plus:not(:disabled):not(.disabled):active,
.btn-google-plus:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #c23321;
  border-color: #b7301f;
}
.btn-google-plus:not(:disabled):not(.disabled):active:focus,
.btn-google-plus:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(221, 75, 57, 0.35);
}
.btn-instagram:not(:disabled):not(.disabled):active,
.btn-instagram:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #d31e40;
  border-color: #c81c3d;
}
.btn-instagram:not(:disabled):not(.disabled):active:focus,
.btn-instagram:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(228, 64, 95, 0.35);
}
.btn-pinterest:not(:disabled):not(.disabled):active,
.btn-pinterest:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #8c0615;
  border-color: #800513;
}
.btn-pinterest:not(:disabled):not(.disabled):active:focus,
.btn-pinterest:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(189, 8, 28, 0.35);
}
.btn-youtube:not(:disabled):not(.disabled):active,
.btn-youtube:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #a11918;
  border-color: #961717;
}
.btn-youtube:not(:disabled):not(.disabled):active:focus,
.btn-youtube:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(205, 32, 31, 0.35);
}
.btn-slack:not(:disabled):not(.disabled):active,
.btn-slack:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #2d8968;
  border-color: #2a7f61;
}
.btn-slack:not(:disabled):not(.disabled):active:focus,
.btn-slack:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(58, 175, 133, 0.35);
}
.btn-dribbble:not(:disabled):not(.disabled):active,
.btn-dribbble:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #e51e6b;
  border-color: #dc1a65;
}
.btn-dribbble:not(:disabled):not(.disabled):active:focus,
.btn-dribbble:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(234, 76, 137, 0.35);
}
.btn-github:not(:disabled):not(.disabled):active,
.btn-github:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #090909;
  border-color: #020202;
}
.btn-github:not(:disabled):not(.disabled):active:focus,
.btn-github:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(34, 34, 34, 0.35);
}
.btn-vimeo:not(:disabled):not(.disabled):active,
.btn-vimeo:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #037fbe;
  border-color: #0376b1;
}
.btn-vimeo:not(:disabled):not(.disabled):active:focus,
.btn-vimeo:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(4, 160, 240, 0.35);
}

/* Custom file input -- Style 2 */

.icon-lg {
  min-width: 4rem;
  min-height: 4rem;
  line-height: 4rem;
}
.icon-lg img {
  width: 4rem;
  height: 4rem;
}

.icon-sm {
  min-width: 2rem;
  min-height: 2rem;
  line-height: 2rem;
}
.icon-sm img {
  width: 2rem;
  height: 2rem;
}

.has-floating-items {
  padding-bottom: 18rem !important;
}

@media (min-width: 768px) {
  .has-floating-items {
    padding-bottom: 18rem !important;
  }
}

.floating-items {
  position: relative;
  left: 50%;
  margin-left: -570px;
  z-index: 10;
}

.icon-floating {
  position: absolute;
  text-align: center;
  box-shadow: 0 30px 40px 0 rgba(31, 45, 61, 0.1);
  border-radius: 50%;
}
.icon-floating span {
  height: 100%;
}
.icon-floating img {
  max-width: 100%;
}
.icon-floating span,
.icon-floating img {
  display: inline-block;
  vertical-align: middle;
}

.icon-floating:nth-child(1) {
  top: 140px;
  left: -60px;
  width: 120px;
  height: 120px;
}

.icon-floating:nth-child(2) {
  top: 200px;
  left: 180px;
  width: 160px;
  height: 160px;
  animation-delay: 0.5s;
}

.icon-floating:nth-child(3) {
  top: 120px;
  left: 480px;
  width: 80px;
  height: 80px;
  animation-delay: 1s;
}

.icon-floating:nth-child(4) {
  top: 210px;
  left: 680px;
  width: 140px;
  height: 140px;
  animation-delay: 1.5s;
}

.icon-floating:nth-child(5) {
  top: 100px;
  left: 920px;
  width: 100px;
  height: 100px;
  animation-delay: 2s;
}

.icon-floating:nth-child(6) {
  top: 200px;
  left: 1120px;
  width: 80px;
  height: 80px;
  animation-delay: 2.5s;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .icon-floating:nth-child(1),
  .icon-floating:nth-child(6) {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .icon-floating:nth-child(1),
  .icon-floating:nth-child(2),
  .icon-floating:nth-child(3) {
    display: none;
  }
  .icon-floating:nth-child(4),
  .icon-floating:nth-child(5),
  .icon-floating:nth-child(6) {
    width: 100px;
    height: 100px;
    top: 80px;
  }
  .icon-floating:nth-child(4) {
    left: 300px;
  }
  .icon-floating:nth-child(5) {
    left: 500px;
  }
  .icon-floating:nth-child(6) {
    left: 700px;
  }
}

@media (max-width: 767.98px) {
  .icon-floating:nth-child(4),
  .icon-floating:nth-child(5),
  .icon-floating:nth-child(6) {
    width: 80px;
    height: 80px;
    top: 80px;
  }
  .icon-floating:nth-child(4) {
    left: 400px;
  }
  .icon-floating:nth-child(5) {
    left: 530px;
  }
  .icon-floating:nth-child(6) {
    left: 660px;
  }
}

section {
  background-color: #fff;
}

.slice {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.slice-xl {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.tongue {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: rotate(180deg) translateX(50%);
  width: 138px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #8492a6;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='138' height='35' viewBox='0 0 138 35'%3E%3Cpath fill='%23FFF' d='M 3.15027 34.4375C 1.74207 34.6025 0.68396 34.7266 0 35L 68.9982 35C 68.9982 35 68.9998 28.6387 69 19.5132C 69 20.7261 69.0001 21.8892 69.0001 22.9956L 69.0018 35L 138 35C 137.316 34.7266 136.258 34.6025 134.85 34.4375C 131.11 33.9995 124.903 33.2729 116.678 28.6875C 111.015 25.3901 106.523 20.9771 102.07 16.6025C 93.5474 8.23096 85.1685 -1.97984e-15 69.0018 3.55056e-31C 69.0006 5.271 69 10.4292 69 15.0952C 69 10.4287 68.9994 5.27148 68.9982 3.55056e-31C 52.8314 1.97986e-15 44.4526 8.23096 35.9302 16.6025C 31.4772 20.9771 26.985 25.3901 21.3221 28.6875C 13.0974 33.2729 6.88965 33.9995 3.15027 34.4375Z'/%3E%3C/svg%3E");
}
.tongue i {
  animation: floating-sm 2s ease infinite;
}
.tongue:hover i {
  animation-play-state: paused;
}

.tongue-section-secondary {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='138' height='35' viewBox='0 0 138 35'%3E%3Cpath fill='%23FAFBFE' d='M 3.15027 34.4375C 1.74207 34.6025 0.68396 34.7266 0 35L 68.9982 35C 68.9982 35 68.9998 28.6387 69 19.5132C 69 20.7261 69.0001 21.8892 69.0001 22.9956L 69.0018 35L 138 35C 137.316 34.7266 136.258 34.6025 134.85 34.4375C 131.11 33.9995 124.903 33.2729 116.678 28.6875C 111.015 25.3901 106.523 20.9771 102.07 16.6025C 93.5474 8.23096 85.1685 -1.97984e-15 69.0018 3.55056e-31C 69.0006 5.271 69 10.4292 69 15.0952C 69 10.4287 68.9994 5.27148 68.9982 3.55056e-31C 52.8314 1.97986e-15 44.4526 8.23096 35.9302 16.6025C 31.4772 20.9771 26.985 25.3901 21.3221 28.6875C 13.0974 33.2729 6.88965 33.9995 3.15027 34.4375Z'/%3E%3C/svg%3E");
  color: #273444;
}
.tongue-section-secondary:hover {
  color: #273444;
}

@keyframes floating-sm {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

h1 {
  font-weight: 500;
}

a {
  transition: all 0.2s ease;
}
@media (prefers-reduced-motion: reduce) {
  a {
    transition: none;
  }
}

/* Range slider value labels */
.ql-tooltip .ql-action::before:not(:disabled):not(.disabled):active,
.ql-tooltip .ql-action::before:not(:disabled):not(.disabled).active,
.ql-tooltip.ql-editing .ql-action::before:not(:disabled):not(.disabled):active,
.ql-tooltip.ql-editing .ql-action::before:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #5800cc;
  border-color: #5300bf;
}
.ql-tooltip .ql-action::before:not(:disabled):not(.disabled):active:focus,
.ql-tooltip .ql-action::before:not(:disabled):not(.disabled).active:focus,
.ql-tooltip.ql-editing
  .ql-action::before:not(:disabled):not(.disabled):active:focus,
.ql-tooltip.ql-editing
  .ql-action::before:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(110, 0, 255, 0.35);
}
.ql-tooltip .ql-remove::before:not(:disabled):not(.disabled):active,
.ql-tooltip .ql-remove::before:not(:disabled):not(.disabled).active {
  color: #273444;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}
.ql-tooltip .ql-remove::before:not(:disabled):not(.disabled):active:focus,
.ql-tooltip .ql-remove::before:not(:disabled):not(.disabled).active:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 0 0 rgba(255, 255, 255, 0.35);
}

.scrollbar-inner:not(:hover) .scroll-element {
  opacity: 0;
}
